<mat-list>
  <mat-list-item>
    Total time: {{ totalTime() | date: format }}
  </mat-list-item>
  <mat-list-item
    *ngFor="let time of times"
  >
    {{ time.from | date: format}} → {{ time.to | date: format}} ({{ time.duration | date: format}})
  </mat-list-item>
</mat-list>

