<div fxLayoutAlign="center">
  <span
    class="time"
    fxFlexAlign="center"
  >
    {{ onTime | async | date: 'HH:mm:ss' }}
  </span>

  <button
    mat-icon-button
    color="primary"
    (click)="toggle()"
    fxFlexAlign="center"
  >
    <mat-icon *ngIf="!isPlaying()">play_circle_outline</mat-icon>
    <mat-icon *ngIf="isPlaying()">pause_circle_outline</mat-icon>
  </button>
</div>
