@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    margin: 0;
    padding: 0;
}

mat-sidenav-container {
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.time {
    font-size: 18px;
}

.hide {
    display: none !important;
}
