<mat-sidenav-container>
  <div class="wrapper mat-typography">
    <section
      fxLayoutAlign="center"
      fxLayoutGap="20px"
    >
      <div
        fxFlex="20%"
        fxLayout="column"
        fxLayoutGap="20px"
      >
        <mat-card>
          <mat-card-content>
            <app-timer (newTimePeriod)="timesList.add($event)"></app-timer>
          </mat-card-content>
        </mat-card>

        <mat-card [ngClass]="{ hide: timesList.isEmpty() }">
          <form
            #form="ngForm"
            (ngSubmit)="save(form)"
          >
            <mat-card-actions>
              <mat-progress-bar
                mode="indeterminate"
                color="primary"
                *ngIf="inProgress"
              ></mat-progress-bar>

              <mat-form-field fxFlexFill>
                <input
                  matInput
                  name="name"
                  ngModel
                  placeholder="Name"
                  required
                >
              </mat-form-field>

              <button
                mat-button
                color="primary"
                (click)="clear(form)"
              >
                Clear
              </button>
              <button
                      mat-raised-button
                      color="primary"
                      fxFlexAlign="end"
              >
                Save
              </button>
            </mat-card-actions>

            <mat-card-content>
              <app-times-list #timesList></app-times-list>
            </mat-card-content>
          </form>
        </mat-card>
      </div>

      <mat-card fxFlex="30%">
        <mat-card-content>
          <app-sessions-overview #sessionsOverview></app-sessions-overview>
        </mat-card-content>
      </mat-card>
    </section>
  </div>
</mat-sidenav-container>
