<mat-form-field>
  <mat-select
    [(ngModel)]="groupBy"
    (ngModelChange)="refresh()"
    placeholder="Overview by"
  >
    <mat-option value="day">Day</mat-option>
    <mat-option value="week">Week</mat-option>
    <mat-option value="month">Month</mat-option>
  </mat-select>
</mat-form-field>

<mat-progress-bar
  mode="indeterminate"
  color="primary"
  *ngIf="inProgress"
></mat-progress-bar>

<mat-table [dataSource]="data">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Period</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.period }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="totalTime">
    <mat-header-cell *matHeaderCellDef>Total time</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.totalTime | date: 'HH:mm:ss' }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>
